<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appcutt.githelper">

    <uses-sdk android:minSdkVersion="15" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.appcutt.githelper.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.appcutt.githelper.activity.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name="com.appcutt.githelper.activity.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.appcutt.githelper.activity.GitCourseActivity"
            android:label="@string/title_activity_git_course"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--友盟SDK 设置 Start-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56fb48d8e0f55a1114000e8d" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="1000f" />
        <!--友盟SDK 设置 End-->
    </application>

</manifest>
